#ClimberHeader,.tableHeaders
{ 
    margin: auto;
    text-align: center;

}
.tablesFormat{
    border: 1px solid;
    text-align: center;
    width: 100%
}
.scroller{
    height: 300px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.scroller section{
    scroll-snap-align: start;
}